

@media screen and (max-width:1000px) {
    .Map{
        width: 60% !important;
    }    
}
.Map{
    position: absolute;
    border: 5px solid black; /* 내부에 빨간색 보더를 추가합니다. */
    box-sizing: border-box; /* 요소의 크기에 보더를 포함시킵니다. */
    top: 0;
    margin: 0;
    padding: 0;
    right: 0;
    width: 70%;
    height: 100vh;
}
.LeftHeader{
    width: 40%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    left:0;
    height: 100vh;
}

.BBB{float: left;
    margin-top: 600px;
    font-size: 100px;
    position: absolute;
    background-color: red;
    width: 1000px;
    height: 500px;
}